
.intro-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 100px;
}

.title-div{
    flex:1;
}

.title{
    font-size: 50px;
    text-align: left;
    font-weight: 600;
}

.subtitle{
    font-size: 22px;
    text-align: left;
    font-weight: 500;
    width: 580px;
    margin-top: 20px;
}

.lp-image-div{
    flex: 1;
}
.lp-image {
    width: 400px;
    padding-left: 100px;
}

.search-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 350px;
    margin-top: 0px;
}

.search-input-div{
    margin: 30px;
}

.search-input{
    width:650px;
    height:40px;
    border-radius: 20px;
    border-color: black;
    padding-left: 10px;
}

.search-distance{
    width: 200px;
    height:40px;
    border-radius: 20px;
    border-color: black;
    padding-left: 10px;
}

.about-us-div{
    width: 620px;
    margin: 100px;
   margin-left: 700px;
   margin-top: 70px;
}

.about-us-title{
    font-size: 50px;
    text-align: left;
    font-weight: 600;
}

.about-us-text{
    font-size: 22px;
    text-align: left;
    font-weight: 500;
    margin-top: 20px;
}